@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
html{
    height: 100%;
}
body{
    background-color: hsl(220, 41%, 77%);
    height: 100%;
    margin: 0;
    align-content: center;
}
.card{
    width: 280px;
    margin: auto;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 20px;
}
.QR-code img{
    height:270px;
    width: 270px;
    border-radius: 10px;
}
.content-1{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Outfit',sans-serif; /* sans-serif is a fallback font */
}
.content-2{
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 15px;
    font-family: 'Outfit',sans-serif; /* sans-serif is a fallback font */
}